<div class="user-details">
  <h1> Featured Projects </h1>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="dashboard" src="{{ "/assets/img/sf_dashboard.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
     <h3> Real-Time Court Data Dashboard </h3>
    <p>Developed a fully automated Power BI dashboard to deliver real-time insights into Superior Court case statistics. The project gained public recognition when it was featured in the <i>San Francisco Chronicle</i>, demonstrating its value in improving transparency and accessibility of court data.</p>
      <p align="left"><a class="project-link" href="https://sf.courts.ca.gov/divisions/criminal/criminal-data-dashboards">Check it out</a></p>
	  <p align="right"><a class="project-link" href="https://www.sfchronicle.com/crime/article/sf-superior-court-crime-data-dashboard-19917212.php">SF Chronical Article </a></p>
  </div>
</div>

<div class="user-projects">

  <div class="images-right">
    <img alt="genre_graph" src="{{ "/assets/img/genre_graph.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Music Recommendation System</h3>
    <p>Collaborated with a team to develop HyG-Con, a hybrid recommendation model that combines knowledge graph-based genre transitions with clustering techniques to enhance cross-genre music discovery. 
		The system outperformed baseline models by generating playlists that balance diversity and coherence, offering listeners smoother transitions and richer exploration beyond typical “filter bubbles.”</p>
      <p align="center"><a class="project-link" href="https://github.com/jjdrisco/Hybrid_Graph-Based_Content_Filtering_for_Enhanced_Music_Recommendation/blob/main/Presentation_Slides.pdf">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="art" src="{{ "/assets/img/art.PNG" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3> Global Art Exploration and Analysis</h3>
    <p>Collaborated on a project integrating PostgreSQL, Neo4j, and Redis with datasets from MoMA, PainterPalette, WikiData, and Google Trends to analyze artistic influence and public engagement. 
		Our findings revealed unexpected cross-movement popularity correlations, ripple effects from artist passings, and distinct cultural engagement patterns during crises.
     </p>
    <p align="center">
      <a class="project-link" href="https://github.com/jjdrisco/Global_Art_Exploration_and_Analysis">Check it out</a>
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="machine-learning-visualization" src="{{ "/assets/img/ml_visualization.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Interactive Visualization of Machine Learning Evaluation Metrics </h3>
    <p>
      A dashboard to play around with and observe the effects of class imbalance or model strength on evaluation metrics.
		  This project made it into the official <a href="https://voila-gallery.org/services/gallery/">Voila gallery</a>.
    </p>
    <p align="center"><a class="project-link" href="https://machine-learning-visualization.herokuapp.com">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="reading" src="{{ "/assets/img/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Data Science Links </h3>
    <p>
      I maintain a collection of articles which I've found helpful in my professional development, especially in my data science journey.
      Feel free to contribute.
      In addition, I've compiled a list of data science aphorisms on twitter.
    </p>
    <p align="center">
      <a class="project-link" href="https://data-science-links.netlify.app">Article List</a>
      <a class="project-link" href="https://twitter.com/i/events/1255884468402913282">"Data Science Wit and Wisdom"</a>
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mplcyberpunk" src="{{ "/assets/img/colormap.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left" style="margin: 0; top: 50%">
    <h3> GitHub Projects </h3>
    <p> I'm hosting a number of smaller projects on GitHub.
    This includes e.g. cookiecutter templates, bashrc templates, or minimal examples for creating machine learning services.
    Also, I've created the <i>mplcyberpunk</i> Python package to create TRON-style data visualizations.
    Feel free to have a look around.
      </p>
      <p align="center"><a class="project-link" href="https://github.com/dhaitz">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="twitter-bot" src="{{ "/assets/img/twitter-bot.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3>"Cognitively Biased" </h3>
    <p>To remind us humans about all the subconscious flaws in our reasoning, I've created "Cognitively Biased",
      a Twitter bot that tweets one entry from Wikipedia's list of cognitive biases every day.
     </p>
    <p align="center"><a class="project-link" href="https://twitter.com/cog_biased">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="twitter-bot" src="{{ "/assets/img/mpl-style.gif" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-left">
    <h3>Matplotlib Style Tools </h3>
    <p>I've built several websites to help people create more aesthetically pleasing graphs:
      The Matplotlib Style Configurator to interactively explore the effects of different parameter changes,
      the Matplotlib Style Poll to vote for your favorite style and discover new ones,
      and the interactive Matplotlib colormap generator.
     </p>
     <p align="center">
       <a class="project-link" href="http://matplotlib-style-configurator.herokuapp.com">Style Configurator</a>
       <a class="project-link" href="http://matplotlib-style-voting.herokuapp.com">Style Voting</a>
       <a class="project-link" href="https://share.streamlit.io/dhaitz/colormap-creator/main/app.py">Colormap Generator</a>
     </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="stock-art" src="{{ "/assets/img/stock-art.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3> Artistic Stock Price Chart Generator </h3>
    <p>
      An interactive online tool to embed stock price chart (for various companies) as a mountain range silhouette in a photo.
      The screenshot shows 10 years of Apple.
     </p>
    <p align="center">
      <a class="project-link" href="http://stock-chart-art.herokuapp.com">Check it out</a>
    </p>
  </div>
</div>

  <div class="user-projects">
    <div class="images-right">
      <img alt="particle-physics" src="{{ "/assets/img/particle-physics.png" | prepend: site.baseurl }}"/>
    </div>
    <div class="contents-left">
      <h3> Particle Physics </h3>
      <p>In my PhD thesis, I've analyzed proton collisions at CERN's Large Hadron Collider to derive insights on the structure of matter.
        At the same time, I've co-written the ARTUS framework for data analysis in high-energy physics.
        Its architecture and design principles are described in a separate paper.
       </p>
      <p align="center">
      <a class="project-link" href="https://ekp-invenio.physik.uni-karlsruhe.de/record/48801/files/EKP-2016-00013.pdf" >Thesis</a>
      <a class="project-link" href="https://arxiv.org/abs/1511.00852">ARTUS Paper</a>
      </p>
    </div>
  </div>

  <div class="user-projects">
    <div class="images-left">
      <img alt="reading" src="{{ "/assets/img/dariusz-sankowski-dvK_CT1Wg78-unsplash.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Other Interests </h3>
      <p>
        Apart from data and technology, my hobbies include photography and literary writing.
      </p>
      <p align="center">
        <a class="project-link" href="http://www.dominikhaitz.de">Photography Page</a>
        <a class="project-link" href="https://beschriftet.jimdofree.com/mitglieder/dominik-haitz/">Author Information</a>
      </p>
    </div>
  </div>

</div>
