<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">

  <div class="images-right">
    <img alt="galaxy" src="{{ "/assets/img/galaxy.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Interactive Graph</h3>
    <p>Discover the structure of Wikipedia by flying around like you're in a spaceship.
      Based on public page link data and free graph software.</p>
      <p align="center"><a class="project-link" href="https://dhaitz.github.io/graph-visualization/#/galaxy/wikipedia?cx=-705&cy=-9206&cz=-9978&lx=0.4772&ly=0.7270&lz=-0.4743&lw=0.1367&ml=450&s=1.75&l=1&v=500_000_links">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="wrting" src="{{ "/assets/img/kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Blog on towardsdatascience.com </h3>
    <p>Medium's <i>Towards Data Science</i> is a great place to share wisdom.
      Here you'll find my articles on data science experiences and best practices.</p>
      <p align="center"><a class="project-link" href="https://towardsdatascience.com/@d_haitz">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="reading" src="{{ "/assets/img/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Data Science Links </h3>
    <p>I maintain a collection of articles which I've found helpful in my professional development, especially in my data science journey.
      Feel free to contribute.</p>
      <p align="center"><a class="project-link" href="https://github.com/dhaitz/data-science-links">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="github" src="{{ "/assets/img/yancy-min-842ofHC6MaI-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right" style="margin: 0; top: 50%">
    <h3> GitHub Projects </h3>
    <p> I'm hosting a number of smaller projects on GitHub.
    This includes e.g. cookiecutter templates, bashrc templates, or minimal examples for creating machine learning services.
    Feel free to have a look around.
      </p>
      <p align="center"><a class="project-link" href="https://github.com/dhaitz">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="particle-physics" src="{{ "/assets/img/particle-physics.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-left">
    <h3> Particle Physics </h3>
    <p>In my PhD Thesis, I've analyzed proton collisions at CERN's Large Hadron Collider to derive insights on the structure of matter.
      At the same time, I've co-written the ARTUS framework for data analysis in high-energy physics.
      Its architecture and design principles are described in a separate paper.
     </p>
    <p align="center">
    <a class="project-link" href="https://arxiv.org/abs/1511.00852" >Thesis</a>
    <a class="project-link" href="https://ekp-invenio.physik.uni-karlsruhe.de/record/48801/files/EKP-2016-00013.pdf">ARTUS Paper</a>
    </p>
  </div>
</div>
