@import "lib/normalize";
@import "lib/fontawesome";
@import "lib/devicon";

@import 'base';
@import 'vars';
@import 'animation';
@import 'header';
@import 'about';
@import 'projects';
@import 'footer';

@import "lib/fontawesome.scss";
@import "lib/solid.scss";
@import "lib/brands.scss";
